**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [19]:
!pip install apyori
!pip install pandas

zsh:1: command not found: pip
zsh:1: command not found: pip

In [20]:
import pandas as pd # type: ignore
from apyori import apriori # type: ignore

In [21]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
# base= pd.read_csv('/content/sample_data/Aula25-10.csv', sep=';',encoding='cp1252', header=None)
base= pd.read_csv('dataset.csv', sep=',', header=None)

base

        0     1        2    3         4      5       6
0   Leite  Cafe  Cerveja  Pao  Manteiga  Arroz  Feijao
1     Nao   Sim      Nao  Sim       Sim    Nao     Nao
2     Sim   Nao      Sim  Sim       Sim    Nao     Nao
3     Nao   Sim      Nao  Sim       Sim    Nao     Nao
4     Sim   Sim      Nao  Sim       Sim    Nao     Nao
5     Nao   Nao      Sim  Nao       Nao    Nao     Nao
6     Nao   Nao      Nao  Nao       Sim    Nao     Nao
7     Nao   Nao      Nao  Sim       Nao    Nao     Nao
8     Nao   Nao      Nao  Nao       Nao    Nao     Sim
9     Nao   Nao      Nao  Nao       Nao    Sim     Sim
10    Nao   Nao      Nao  Nao       Nao    Sim     Nao

In [22]:
base.shape

(11, 7)

In [23]:
nomes_dos_produtos = list(base.iloc[0])
dados_transacoes = base.iloc[1:]

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [24]:
transacoes = []
for index, row in dados_transacoes.iterrows():
    cesta = [nomes_dos_produtos[i] for i, valor in enumerate(row) if valor == 'Sim']
    transacoes.append(cesta)

In [25]:
transacoes

[['Cafe', 'Pao', 'Manteiga'],
 ['Leite', 'Cerveja', 'Pao', 'Manteiga'],
 ['Cafe', 'Pao', 'Manteiga'],
 ['Leite', 'Cafe', 'Pao', 'Manteiga'],
 ['Cerveja'],
 ['Manteiga'],
 ['Pao'],
 ['Feijao'],
 ['Arroz', 'Feijao'],
 ['Arroz']]

In [26]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [27]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)
saida = list(regras)
print(len(saida))
print(saida)

4
[RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)]), RelationRecord(items=frozenset({'Pao', 'Manteiga'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)]), RelationRecord(items=frozenset({'Cafe', 'Pao', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao', 'Manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'Cafe', 'Manteiga'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'Cafe', 'Pao'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])]

In [28]:
print(saida[0])

RelationRecord(items=frozenset({'Cafe', 'Manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Manteiga'}), confidence=1.0, lift=2.0)])

In [29]:
print(saida[1])

RelationRecord(items=frozenset({'Cafe', 'Pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cafe'}), items_add=frozenset({'Pao'}), confidence=1.0, lift=2.0)])

In [30]:
print(saida[2])

RelationRecord(items=frozenset({'Pao', 'Manteiga'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Manteiga'}), items_add=frozenset({'Pao'}), confidence=0.8, lift=1.6), OrderedStatistic(items_base=frozenset({'Pao'}), items_add=frozenset({'Manteiga'}), confidence=0.8, lift=1.6)])

**Para facilitar a visualização, veja como transformar isso em um dataframe**

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [31]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []
RegrasFinais = []

for resultado in saida:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [32]:
RegrasFinais

        Antecedente      Consequente  suporte  confianca  lift
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
1            [Cafe]            [Pao]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6
4            [Cafe]  [Pao, Manteiga]      0.3        1.0   2.5
5  [Cafe, Manteiga]            [Pao]      0.3        1.0   2.0
6       [Cafe, Pao]       [Manteiga]      0.3        1.0   2.0

**Podemos ordenar estas regras por uma métrica desejada**

In [33]:
RegrasFinais.sort_values(by='lift', ascending =False)

        Antecedente      Consequente  suporte  confianca  lift
4            [Cafe]  [Pao, Manteiga]      0.3        1.0   2.5
0            [Cafe]       [Manteiga]      0.3        1.0   2.0
1            [Cafe]            [Pao]      0.3        1.0   2.0
5  [Cafe, Manteiga]            [Pao]      0.3        1.0   2.0
6       [Cafe, Pao]       [Manteiga]      0.3        1.0   2.0
2        [Manteiga]            [Pao]      0.4        0.8   1.6
3             [Pao]       [Manteiga]      0.4        0.8   1.6

In [37]:
itemsets = []
suportes = []

for resultado in saida:
    itemsets.append(list(resultado.items))
    suportes.append(resultado.support)

df_itemsets = pd.DataFrame({
    'Itemset': itemsets,
    'Suporte': suportes
})
df_itemsets_sorted = df_itemsets.sort_values(by='Suporte', ascending=False)
df_itemsets_sorted

                 Itemset  Suporte
2        [Pao, Manteiga]      0.4
0       [Cafe, Manteiga]      0.3
1            [Cafe, Pao]      0.3
3  [Cafe, Pao, Manteiga]      0.3